/* body */
.l-body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';

  // .l-body--in-sub
  &--in-sub {
    --layout-main-width: calc(var(--container) - var(--layout-sub-width));
  }

  // .l-body__header
  &__header {
    grid-area: header;
  }

  // // .l-body__container
  // &__container {
  //   flex: 1 1 auto;
  // }

  // .l-body__main
  &__main {
    grid-area: main;
    display: flex;
    justify-content: center;
    background: var(--color-theme-primary);

    // .l-body__main-content
    &-content {
      width: var(--layout-main-width); /* 40remはサイドバーの値 */
      max-width: 100%;
      background: var(--color-text);
    }

    // .l-body__main-side
    &-side {
      width: var(--layout-sub-width); /* 40remはサイドバーの値 */
      max-width: 100%;
      background: var(--color-gray);
    }
  }
  // .l-body__footer
  &__footer {
    grid-area: footer;
  }
}
