/* header-nav */
@use '../Foundation/Settings/variable' as *;
@use '../Foundation/Tools/functions' as *;
@use '../Foundation/Tools/mixins' as *;

// header
.l-header {
  line-height: 1.5;
  position: relative;

  // .l-header__main
  &__main {
    display: flex;
    align-items: center;
    padding: rem(20);
    background: rgb(230, 230, 230);
    height: rem(70);

    @include over('lg') {
      height: auto;
    }
  }

  /* スマホで事実上headerとなる部分 */
  // l-header-base
  &-base {
    z-index: z-index('header-base');
    padding-right: rem(20);
    margin-right: auto;

    // .l-header-base__logo
    &__logo {
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  @include over('lg') {
  }
}

// nav
.l-nav {
  line-height: 1.5;

  // .l-nav__items
  &__items {
    list-style: none;
    padding-left: 0;
  }

  @include over('lg') {
    // .l-nav__items
    &__items {
      display: flex;
    }

    // .l-nav__item
    &__item {
      padding: 0 rem(10);

      // .l-nav__item-link
      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(8) rem(12);
      }
    }
  }
}
