.svg-i-c-t-kemono-dims {
    width: 79.31px;
    height: 67.91px;
}

.svg-i-facebook-dims {
    width: 8.89px;
    height: 16px;
}

.svg-i-facebook-circle-dims {
    width: 32px;
    height: 31.81px;
}

.svg-i-favicon-dims {
    width: 36px;
    height: 36px;
}

.svg-i-instagram-dims {
    width: 15.99px;
    height: 16px;
}

.svg-i-share-dims {
    width: 16px;
    height: 14.02px;
}

.svg-i-twitter-dims {
    width: 32px;
    height: 26px;
}

