/* border
----------------------------------------------------------------- */
@use 'sass:color';
@use 'sass:math';
@use '../Foundation/Settings/variable' as *;
@use '../Foundation/Tools/functions' as *;
@use '../Foundation/Tools/mixins' as *;

$borderWidthMax: 10;
$borderRadiusMax: 30;
$colorMap: $color-map; // _variable.scss で設定

@mixin border($prefix: '') {
  .#{$prefix}u-radius {
    border-radius: 50%;
  }
}

@mixin borderOther($prefix: '') {
  @for $i from 0 through $borderWidthMax {
    .#{$prefix}u-border-#{$i} {
      border-width: $i + px;
    }
  }

  .#{$prefix}u-border-solid {
    border-style: solid;
  }
  .#{$prefix}u-border-dotted {
    border-style: dotted;
  }
  .#{$prefix}u-border-dashed {
    border-style: dashed;
  }
  .#{$prefix}u-border-double {
    border-style: double;
  }
  .#{$prefix}u-border-hidden {
    border-style: hidden;
  }
  .#{$prefix}u-border-solid-top {
    border-top-style: solid;
  }
  .#{$prefix}u-border-solid-right {
    border-right-style: solid;
  }
  .#{$prefix}u-border-solid-bottom {
    border-bottom-style: solid;
  }
  .#{$prefix}u-border-solid-left {
    border-left-style: solid;
  }
  .#{$prefix}u-border-dotted-top {
    border-top-style: dotted;
  }
  .#{$prefix}u-border-dotted-right {
    border-right-style: dotted;
  }
  .#{$prefix}u-border-dotted-bottom {
    border-bottom-style: dotted;
  }
  .#{$prefix}u-border-dotted-left {
    border-left-style: dotted;
  }
  .#{$prefix}u-border-dashed-top {
    border-top-style: dashed;
  }
  .#{$prefix}u-border-dashed-right {
    border-right-style: dashed;
  }
  .#{$prefix}u-border-dashed-bottom {
    border-bottom-style: dashed;
  }
  .#{$prefix}u-border-dashed-left {
    border-left-style: dashed;
  }
  .#{$prefix}u-border-double-top {
    border-top-style: double;
  }
  .#{$prefix}u-border-double-right {
    border-right-style: double;
  }
  .#{$prefix}u-border-double-bottom {
    border-bottom-style: double;
  }
  .#{$prefix}u-border-double-left {
    border-left-style: double;
  }
  .#{$prefix}u-border-hidden-top {
    border-top-style: hidden;
  }
  .#{$prefix}u-border-hidden-right {
    border-right-style: hidden;
  }
  .#{$prefix}u-border-hidden-bottom {
    border-bottom-style: hidden;
  }
  .#{$prefix}u-border-hidden-left {
    border-left-style: hidden;
  }

  @each $key, $color in $colorMap {
    .#{$prefix}u-border-#{$key} {
      border-color: color($key);
    }
  }

  @for $iR from 1 through $borderRadiusMax {
    // $rVar: $iR * 2;
    .#{$prefix}u-radius-#{$iR} {
      border-radius: $iR + px;
    }
  }

  .#{$prefix}u-radius-500 {
    border-radius: rem(500);
  }
}

@include border();
@include borderOther();

@include over('lg') {
  $prefix: '#{to-upper-case('l')}\\:'; // str-slice('lg', 0, 1);
  @include border($prefix);
  @include borderOther($prefix);
}
@include over('md') {
  $prefix: '#{to-upper-case('m')}\\:'; // str-slice('lg', 0, 1);
  @include border($prefix);
  @include borderOther($prefix);
}
