/* opacity
----------------------------------------------------------------- */
@use 'sass:color';
@use 'sass:math';
@use '../Foundation/Settings/variable' as *;
@use '../Foundation/Tools/functions' as *;
@use '../Foundation/Tools/mixins' as *;

@mixin opacity($prefix: '') {
  .#{$prefix}u-opacity-0 {
    opacity: 0;
  }
  .#{$prefix}u-opacity-5 {
    opacity: 0.05;
  }
  .#{$prefix}u-opacity-10 {
    opacity: 0.1;
  }
  .#{$prefix}u-opacity-15 {
    opacity: 0.15;
  }
  .#{$prefix}u-opacity-20 {
    opacity: 0.2;
  }
  .#{$prefix}u-opacity-25 {
    opacity: 0.25;
  }
  .#{$prefix}u-opacity-30 {
    opacity: 0.3;
  }
  .#{$prefix}u-opacity-35 {
    opacity: 0.35;
  }
  .#{$prefix}u-opacity-40 {
    opacity: 0.4;
  }
  .#{$prefix}u-opacity-45 {
    opacity: 0.45;
  }
  .#{$prefix}u-opacity-50 {
    opacity: 0.5;
  }
  .#{$prefix}u-opacity-55 {
    opacity: 0.55;
  }
  .#{$prefix}u-opacity-60 {
    opacity: 0.6;
  }
  .#{$prefix}u-opacity-65 {
    opacity: 0.65;
  }
  .#{$prefix}u-opacity-70 {
    opacity: 0.7;
  }
  .#{$prefix}u-opacity-75 {
    opacity: 0.75;
  }
  .#{$prefix}u-opacity-80 {
    opacity: 0.8;
  }
  .#{$prefix}u-opacity-85 {
    opacity: 0.85;
  }
  .#{$prefix}u-opacity-90 {
    opacity: 0.9;
  }
  .#{$prefix}u-opacity-95 {
    opacity: 0.95;
  }
  .#{$prefix}u-opacity-100 {
    opacity: 100;
  }
}

@include opacity();

@include over('lg') {
  $prefix: '#{to-upper-case('l')}\\:'; // str-slice('lg', 0, 1);
  @include opacity($prefix);
}
@include over('md') {
  $prefix: '#{to-upper-case('m')}\\:'; // str-slice('lg', 0, 1);
  @include opacity($prefix);
}
