---
import Layout, { defaultRoot } from '../../layouts/Layout.astro'
const root = defaultRoot // 任意のパスを設定してrootを上書きできます

// ページ情報
const page = {
  type: 'page', // home | page | single
  // sub: true, // サブエリアの追加
}

// SEO・metaタグ関連
const seo = {
  title: 'サンプルページ', // 必須
  // titleTag: '', // 必要あれば（タイトルタグ上書き）
  // description: 'ディスクリプション', // 必要あれば
  // keywords: 'キーワード1,キーワード2', // 必要あれば
  // ogURL: '', // 必要あれば（基本自動出力）
  // ogType: '', // 必要あれば（基本自動出力）
  // ogImage: '', // 必要あれば（基本自動出力）
  // ogLocale: '', // 必要あれば（基本自動出力）
}

// ヒーローコンポーネントに渡すprops
const hero = {
  parentTitle: '',
  mainTitle: 'サンプルページ',
  subTitle: 'Sample',
}
---

<Layout page={page} seo={seo} hero={hero} root={root}>
  <div>内部ページサンプル</div>
</Layout>
