---
import Layout from '@layouts/Layout.astro'
const { BASE_URL: root } = import.meta.env
const seo = {
  title: 'Welcome to Astro.',
  description: 'ディスクリプション',
  keywords: 'キーワード1,キーワード2',
  ogURL: '',
  ogType: '',
  ogImage: '',
  ogLocale: '',
}
---

<Layout seo={seo}>
  <main>
    <details class="c-details">
      <summary class="c-details__summary"> 開閉ボタン（summary）</summary>
      <div class="c-details__content">
        <p>
          あいうえお
        </p>

        <ul>
          <li><a href="/">リンク要素</a></li>
        </ul>
      </div>
    </details>
  </main>
</Layout>
