---
import '../styles/global.scss'

export interface Props {
	title: string;
  titletag?: string
}

const { title, titletag } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{titletag ? titletag : title}</title>
</head>
<body>
	<slot />
</body>
</html>
